.tituloPrincipal {
    padding-left: 30px;
    font-size: 20px;
}

#imgPrincipal {
    display: block;
    margin: auto;
    padding: 5%;
    width: 85%;
}

.principal {
    background-color: gainsboro;
    padding: 20px;
}

.tituloCentrado {
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

#mision {
    font-size: 20px;
}

.listaImagen {
    background-color: white;
    padding: 20px;
}

.items {
    font-style: italic;
    color: blue;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferencia {
    width: 40%;
}